---
layout: default
author_profile: false
read_time: false
show_date: false
---

{% include page__hero.html %}

<!--
<div class="top">
    <h4 class="title">“집에서 일하다가 3차원 가상 회의실로
        ‘홀로그래픽 오피스’가 업무의 틀 바꾼다”</h4>
    <p class="publish-ho">318호(2021년 04월 Issue 1)</p>
    <div class="author">
        <div class="person">
            <span class="name">김윤진</span>
        </div>
    </div>
</div>
-->

<template id="excerpt">
    <div>
        <i class="far fa-file-alt" aria-hidden="true"></i>
        <a class="pub_info"></a>
        <i class="far fa-user" aria-hidden="true"></i>
        <span class="author"></span>
    </div>
</template>

<template id="tocItem">
    <li>
        <a href=""></a>
    </li>
</template>

<template id="gridItem">
    <div class="grid__item">
        <article class="archive__item" itemscope="" itemtype="https://schema.org/CreativeWork">
            <h2 class="archive__item-title no_toc" itemprop="headline">
                <a class="article_title" href="" rel="permalink">
                    <span class="category"></span>
                    <span class="title"></span>
                    <span class="name"></span>
                </a>
            </h2>
        </article>
    </div>
</template>

<div id="main" role="main">
    <div class="archive">
<!--        <aside class="sidebar__right sticky">
            <nav class="toc">
                <header>
                    <h4 class="nav__title">
                        <i class="fas fa-bars"></i>
                        <span>
                            &lt;!&ndash; TODO setPageTitle&ndash;&gt;
                        </span>
                    </h4>
                </header>
                <ul class="toc__menu">&lt;!&ndash; TODO tocItem &ndash;&gt;</ul>
            </nav>
        </aside>-->
        <div class="article_body"></div>
    </div>

    <div class="page__related">
        <h4 class="page__related-title">
            <a href=""><!-- TODO pubInfo --></a>
        </h4>
        <div class="grid__wrapper"><!-- TODO gridItem --></div>
    </div>
</div>

<script type="module">
    import {single} from '/assets/js/dbr/single.js';
/*    (async () => {
        single.loadSingle('9993');
    })();

    (async () => {
        let article = await single.getSingle('9993');
        single.loadNextSingles(article);
    })();*/
    window.onload = function(){
        window.onhashchange(undefined);
    }

    window.onhashchange = function(){
        const articleId = window.location.hash.replace(/#\/(\d+).*/g, '$1');

        single.loadSingle(articleId).then(() => {
            window.scrollTo({top: 0, behavior: 'smooth'});
            setEventOnImageWrapper();
        });

        (async () => {
            let article = await single.getSingle(articleId);
            single.loadNextSingles(article);
        })();
    }

    function setEventOnImageWrapper() {
        [].forEach.call(document.querySelectorAll("div.img-wrapper"), function (div) {
            div.addEventListener("click", function (e) {
                e.preventDefault();
                if(e.currentTarget.className.indexOf('loaded') > -1){
                    return;
                }

                //add class on wrapper
                e.currentTarget.className += ' loaded';

                //set src
                let imgEl = div.getElementsByTagName("img")[0];
                imgEl.setAttribute("src", imgEl.getAttribute("data-src"));

            }, false);
        });
    }
</script>