---
layout: default
author_profile: false
read_time: false
---

<!-- nav.toc > ul.toc__menu -->
<template id="toc">
    <nav class="toc">
        <header>
            <h4 class="nav__title">
                <i class="fas fa-file-alt"></i>
                최근 본 글들
            </h4>
        </header>
        <ul class="toc__menu">
        </ul>
    </nav>
</template>

<template id="tocItem">
    <li>
        <a href=""></a>
    </li>
</template>

<!-- div.archive > div.article_list > ul -->
<template id="articleEl">
    <li>
        <a class="article_title">
            <span class="category"></span>
            <span class="title"></span>
            <span class="name"></span>
        </a>
    </li>
</template>

{% include page__hero.html %}

<div id="main" role="main">
    <div class="archive">
        <aside class="sidebar__right sticky">

        </aside>
        <div class="article_list"></div>
        {% include post_pagination.html %}
    </div>
</div>

<script type="module">
    import {common, recent} from '/assets/js/dbr/base.js';
    import {archive} from '/assets/js/dbr/archive.js';

    window.onload = function(){
        window.onhashchange(undefined);
        loadRecent();
    }

    window.onhashchange = function(){
        const pubNumber = archive.getPubNumberByHash(window.location.hash);
        (async () => {
            common.showLoading(true);
            await archive.loadArchive(pubNumber);
            window.scrollTo({top: 0, behavior: 'smooth'});
            common.showLoading(false);
        })();
    }

    function loadRecent(){
        //get or create toc
        let toc = document.querySelector('.toc');
        if(toc == null){
            let tocTemplate = document.getElementById('toc');
            toc = document.importNode(tocTemplate.content, true);
            toc = toc.querySelector('.toc');
        }

        (async () => {
            let recentArticles = await recent.get(recent.displayCount);
            if(recentArticles.length === 0){
                return;
            }

            //clear tocMenu
            let tocMenu = toc.querySelector('.toc__menu');
            let template = document.getElementById('tocItem');
            let item;

            common.removeAllChildren(tocMenu);
            recentArticles.forEach((article) => {
                item = document.importNode(template.content, true);
                item.querySelector('a').setAttribute('href', article.href);
                item.querySelector('a').innerText = article.title;
                tocMenu.append(item);
            });
            toc.append(tocMenu);

            //show toc
            if(document.querySelector('.toc') == null){
                document.querySelector('.sidebar__right').append(toc);
            }
        })();
    }

    document.querySelector('.toast-btn').addEventListener('click', () => {
        common.showLoading(true);
        const pubNumber = archive.getPubNumberByHash(window.location.hash);
        archive.reloadArchive(pubNumber).then(() => {
            common.showLoading(false);
        });
    });

    //import {repo} from"/assets/js/dbr/base.js";

    /*
    (async () => {
        // All async code here
        let pub = await archive.getArchive();
        if(pub === undefined){
            pub = await archive.updateArchive();
        }
        archive.loadArchive(pub);
    })();
*/


    //repo.insert('archive', {id: 1111, pubNumber: 1234});

/*    (async () => {
        // All async code here
        let value = await repo.getValueByKey('archive', 1111);
        console.log(value);
    })();*/

    /*
    repo.put('archive', {id: 1111, pubNumber: 4321});
    */

    /*
    (async () => {
        // All async code here
        let value = await repo.getValueByIndex('archive', 'pubNumber', 4321);
        console.log(value);
    })();
    */
</script>