---
layout: default
author_profile: false
read_time: false
show_date: false
---

{% include page__hero.html %}

<template id="excerpt">
    <div>
        <div id="pub-info-wrapper">
            <i class="far fa-file-alt" aria-hidden="true"></i>
            <a class="pub_info"></a>
        </div>
        <div id="author-wrapper">
            <i class="far fa-user" aria-hidden="true"></i>
            <span class="author"></span>
        </div>
    </div>
</template>

<template id="tocItem">
    <li>
        <a href=""></a>
    </li>
</template>

<template id="gridItem">
    <div class="grid__item">
        <article class="archive__item" itemscope="" itemtype="https://schema.org/CreativeWork">
            <h2 class="archive__item-title no_toc" itemprop="headline">
                <a class="article_title" href="" rel="permalink">
                    <span class="category"></span>
                    <span class="title"></span>
                    <span class="name"></span>
                </a>
            </h2>
        </article>
    </div>
</template>

<div id="main" role="main">
    <div class="archive">
<!--        <aside class="sidebar__right sticky">
            <nav class="toc">
                <header>
                    <h4 class="nav__title">
                        <i class="fas fa-bars"></i>
                        <span>
                            &lt;!&ndash; TODO setPageTitle&ndash;&gt;
                        </span>
                    </h4>
                </header>
                <ul class="toc__menu">&lt;!&ndash; TODO tocItem &ndash;&gt;</ul>
            </nav>
        </aside>-->
        <div class="article_body"></div>
    </div>

    <div class="page__related">
        <h4 class="page__related-title">
            <a href=""><!-- TODO pubInfo --></a>
        </h4>
        <div class="grid__wrapper"><!-- TODO gridItem --></div>
    </div>
</div>

<script type="module">
    import {recent} from '/assets/js/dbr/base.js';
    import {single} from '/assets/js/dbr/single.js';

    window.onload = function(){
        window.onhashchange(undefined);
    }

    window.onhashchange = function(){
        const articleId = window.location.hash.replace(/#\/(\d+).*/g, '$1');

        single.loadSingle(articleId).then(() => {
            window.scrollTo({top: 0, behavior: 'smooth'});
            setEventOnImageWrapper();
        });

        (async () => {
            let article = await single.getSingle(articleId);
            single.loadNextSingles(article);

            let recentArticle = {
                "title": article.title,
                "id": article.id,
                "href": single.getUrlById(article.id)
            };
            recent.push(recentArticle);
        })();
    }

    function setEventOnImageWrapper() {
        [].forEach.call(document.querySelectorAll("div.img-wrapper"), function (div) {
            div.addEventListener("click", function (e) {
                e.preventDefault();
                if(e.currentTarget.className.indexOf('loaded') > -1){
                    return;
                }

                //add class on wrapper
                e.currentTarget.className += ' loaded';

                //set src
                let imgEl = div.getElementsByTagName("img")[0];
                imgEl.setAttribute("src", imgEl.getAttribute("data-src"));

            }, false);
        });
    }
</script>