/* ==========================================================================
   DBR
   ========================================================================== */

// for all dbr layout
body[class*="layout--dbr"] {
  .archive{
    width: 100%;
    margin: 0;
  }
}

.layout--dbr-archive-pub{

  .magazine_info{
    margin: 1em 0;

    p{
      margin: 0;
      line-height: 1.2;
      font-family: $header-font-family;

      &.img{
        display: none;
      }

      &.num{
        font-size: $h-size-3;
      }

      &.title{
        font-weight: bold;
        font-size: $h-size-1;
        margin-bottom: 0.5em;
      }

      &.con{
        color: $muted-text-color;
      }
    }
  }

  .article_list{
    ul:first-child{
      margin-top: 0;
    }

    li{
      margin-bottom: 0;

      a{
        text-decoration: none;
        font-family: $sans-serif-narrow;

        .category{
          color: $primary-color;
        }

        .title{
          font-weight: bold;
        }

        .name{
          opacity: 0.5;
        }
      }

    }
  }

  .pagination{
    padding-top: 0;
  }

  .page__footer{
    margin-top: 2em;
  }
}

.layout--dbr-single-pub{
  .page__lead{
    margin-bottom: 0;
  }

  .archive{
    .img-wrapper {
      border: 1px gray solid;
      border-radius: 0.5em;
      color: transparent;
      width: 75%;
      margin: auto;
      cursor: pointer;
      overflow: hidden;
      min-height: 3.5em;
    }
  }

  .page__related{
    width: 100%;
    padding-top: 0;

    .page__related-title{
      font-size: $h-size-3;

      a{
        text-decoration: underline;
      }
    }

    .grid__item .archive__item-title{
      font-size: $type-size-5;
    }
  }


}