/* ==========================================================================
   DBR
   ========================================================================== */

// for all dbr layout
body[class*="layout--dbr"] {

  * {
    -webkit-transition: $global-transition;
    transition: $global-transition;
  }

  .archive{
    width: 100%;
    margin: 0;
  }

  a.article_title{
    text-decoration: none;
    font-family: $sans-serif-narrow;

    .category{
      color: $primary-color;
    }

    .title{
      font-weight: bold;
    }

    .name{
      opacity: 0.5;
    }
  }

  .page__related .grid__item{
    margin-bottom: 1em;
  }
}

[class*="layout--dbr-archive"]{

  .magazine_info{
    margin: 1em 0;

    p{
      margin: 0;
      line-height: 1.2;
      font-family: $header-font-family;

      &.img{
        display: none;
      }

      &.num{
        font-size: $h-size-3;
      }

      &.title{
        font-weight: bold;
        font-size: $h-size-1;
        margin-bottom: 0.5em;
      }

      &.con{
        color: $muted-text-color;
      }
    }
  }

  .article_list{
    ul:first-child{
      margin-top: 0;
    }

    li{
      margin-bottom: 0;
    }
  }

  .pagination{
    padding-top: 0;

    .pagination--pager{
      &:visited {
        color: unset;
      }

      &:hover {
        @include yiq-contrasted($muted-text-color);
      }
    }
  }

  .page__footer{
    margin-top: 2em;
  }
}

[class*="layout--dbr-single"]{
  .page__lead{
    margin-bottom: 0;

    .fa-user{
      margin-left: 0.75em;
    }
  }

  .archive{
    .img-wrapper {
      border: 1px gray solid;
      border-radius: 0.5em;
      color: transparent;
      width: 75%;
      margin: auto;
      cursor: pointer;
      overflow: hidden;
      min-height: 3.5em;

      &.loaded {
        width: 100%;
        height: fit-content;
        border: 0;

        img{
          border: 1px gray solid;
          border-radius: 0.5em;
        }
      }
    }
  }

  table{
    font-size: inherit;
  }

  .page__related{
    width: 100%;
    padding-top: 0;

    .page__related-title{
      font-size: $h-size-3;

      a{
        text-decoration: underline;
      }
    }

    .grid__item .archive__item-title{
      font-size: $type-size-5;
    }
  }


}